<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="job_number">Number: </label>
    <div class="col">
      <input class="form-control" id="job_number" type="text" formControlName="job_number">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="job_title">Title: </label>
    <div class="col">
      <input class="form-control" id="job_title" type="text" formControlName="job_title">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="job_start_date">Start Date: </label>
    <div class="col">
      <input class="form-control" id="job_start_date" type="text" formControlName="job_start_date">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="job_close_date">Close Date: </label>
    <div class="col">
      <input class="form-control" id="job_close_date" type="text" formControlName="job_close_date">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="experience_required">Experience Required: </label>
    <div class="col">
      <select class="form-select" id="experience_required" formControlName="experience_required">
        <option [value]="true">True</option>
        <option [value]="false">False</option>
      </select>
    </div>
  </div>
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="number_of_openings">Number of Openings: </label>
    <div class="col">
      <input class="form-control" id="number_of_openings" type="number" formControlName="number_of_openings">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-md-5 col-form-label" for="job_notes">Notes: </label>
    <div class="col">
      <input class="form-control" id="job_notes" type="text" formControlName="job_notes">
    </div>
  </div>
  <div class="row m-2 justify-content-between">
    <button class="btn btn-primary col-auto" type="submit" [disabled]="!jobForm.valid">Submit</button>
    <button class="btn btn-danger col-auto" *ngIf="id" (click)="delete()">Delete</button>

  </div>
</form>
